doctype html 
html
  head
    title Demo Project
    style 
      include ../static/style.css
      include ../static/about.css
  body
    nav 
      ul
        li #[a(href='/getAll') Home]
        li #[a(href='/about') About]
    div#main
      h2 About this project 
      |This is a basic CRUD project to demonstrate my progress on the following technologies:  </br>
      |1.NodeJs </br> 
      |2.Express </br>
      |3.MongoDB </br>
      |4.HTML </br>
      |5.CSS </br>
      |6.JavaScript. </br></br>
      h2 Topics that I learned and implemented in this project: 
      |1.Creating Server using Express </br>
      |2.Using MiddleWares in Express </br>
      |3.Creating endpoints and routing in Express </br>
      |4.REST API </br>
      |5.MongoDB and Mongoose for Express </br> 
      |6.Atlas cloud server for mongoDB </br></br>
      h3 Due to time constrains I didn't give much time to UI design and kept it pretty basic.